<%- include('./partials/head.ejs')%>
  <body>
    <div class="container">
      <div class="row">
        <div class="col d-col w-100">
          <div>
            <form action="/task" method="POST">
              <input type="text" class="form-control" name="title" id="title">
              <button class="btn btn-primary">Enviar</button>
            </form>
          </div>
          <div class="alert">
            <p class="invalid-text">El texto debe contener al menos 3 caracteres</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="list-group">
            <div class="list-group-item">
              <a href="/tasks/1">
                Titulo de la tarea
              </a>

              <form action="/task/:id" method="POST">
                <button class="btn item-delete">Borrar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </body>
</html>